{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caliber</title>
    {% if debug %}
        <link rel="stylesheet" href="http://localhost:5173/src/app.css">
    {% else %}
        <link rel="stylesheet" href="{% static 'svelte/main.css' %}">
    {% endif %}
</head>
<body>
    <div id="svelte-app"></div>
    {% if debug %}
        <script type="module" src="http://localhost:5173/src/main.ts"></script>
    {% else %}
        <script src="{% static 'svelte/main.js' %}" defer></script>
    {% endif %}
</body>
</html>
